---
---
<html>
  <head>
    <!-- ... -->
  </head>
  <body>
    <nav>
      <a href="#">Accueil</a>
      <a href="#">Articles</a>
      <a href="#">Contact</a>
    </nav>
    <article>
      <slot /> <!-- Votre contenu est injecté ici -->
    </article>
  </body>
</html>